## Visual Studio / WinUI
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

## Temporary / Tests
scratch/
